@{
    ViewData["Title"] = "Home Page";
}
<section class="corpo">
    <div class="container">
        <div class="corpo-home">
            <div class="row">
                <h1 class="titulo-viva">Viva a Diferença!</h1>
                <p class="texto-viva">
                    Através do nosso site você fica informado sobre tudo relacionado a prática esportiva para Pessoas Com Deficiência, até mesmo se desejar competir, você pode checar nossa pagina com locais avaliados e informações disponiveis para o seu tipo de deficiência, pode marcar visita nesses mesmos locais, ou, se quiser praticar em outros locais que não estejam na lista, pode simplesmente verificar informações voltadas para o esporte que deseja conhecer.
                </p>
                <a class="text-decoration-none text-white" asp-controller="Usuario" asp-action="Create"><h4 class="botao-s btn">Cadastre-se!</h4></a>
            </div>
            <img class="imagem-front" src="~/Imagens/Ativo 7.svg" />
        </div>
        <div class="barra-divisoria">
            <h1 class="justify-content-center noticias-titulo">Noticias</h1>
        </div>
        <div class="noticias">
            <div class="row">
                <div class="card">
                    <img src="~/Imagens/QUADRAS_COTP.jpg" class="card-img-top imgcard" />
                    <h2 class="card-title">Deficientes superam barreiras e viram campeões no esporte</h2>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal1">
                        Veja Mais!
                    </button>
                </div>

                <div class="card">
                    <img src="~/Imagens/Imagemcarrossel1.jpg" class="card-img-top imgcard" />
                    <h2 class="card-title">Esporte é fonte de inclusão para jovens com deficiência</h2>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal2">
                        Veja Mais!
                    </button>
                </div>

                <div class="card">
                    <img src="~/Imagens/Imagemcarrossel1.jpg" class="card-img-top imgcard" />
                    <h2 class="card-title">Esporte adaptado pode ajudar no resgate da autoestima de pessoas com deficiência</h2>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal3">
                        Veja Mais!
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <img class="card-img-top" src="~/Imagens/Imagemcarrossel1.jpg" />
                </div>
                <div class="modal-body">
                    <h3>Local</h3>
                    <p class="modal-text">lorem jenqfuisdiogjnaidngjkfdngknmdfajohbdfkmhbda</p>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    
                </div>
                <div class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>


</section>

