@{
    ViewData["Title"] = "Home Page";
}
<section class="corpo">
    <div class="container">
        <div class="corpo-home">
            <div class="row">
                <h1 class="titulo-viva">Viva a Diferença!</h1>
                <p class="texto-viva">
                    Através do nosso site você fica informado sobre tudo relacionado a prática esportiva para Pessoas Com Deficiência, até mesmo se desejar competir, você pode checar nossa pagina com locais avaliados e informações disponiveis para o seu tipo de deficiência, pode marcar visita nesses mesmos locais, ou, se quiser praticar em outros locais que não estejam na lista, pode simplesmente verificar informações voltadas para o esporte que deseja conhecer.
                </p>
                <a class="text-decoration-none text-white" asp-controller="Usuario" asp-action="Create"><h4 class="botao-s btn">Cadastre-se!</h4></a>
            </div>
            <img class="imagem-front" src="~/Imagens/Ativo 7.svg" />
        </div>
        <div class="barra-divisoria">
            <h1 class="justify-content-center noticias-titulo">Noticias</h1>
        </div>
        <div class="noticias">
            <div class="row">
                <div class="card">
                    <img src="~/Imagens/imagemcard1.jpg" class="card-img-top imgcard" />
                    <h2 class="card-title">"Escola é meio de crianças conhecerem esporte", diz campeão paralímpico</h2>
                    <a class="btn btn-primary d-flex justify-content-center text-decoration-none text-white" href="https://agenciabrasil.ebc.com.br/geral/noticia/2021-09/escola-e-meio-de-criancas-conhecerem-esporte-diz-campeao-paralimpico">
                        Acesse o site para ver a reportagem
                    </a>
                </div>

                <div class="card">
                    <img src="~/Imagens/2CQL2BQDKJPH5RA6S5NXYVRWHI.jpg" class="card-img-top imgcard" />
                    <h2 class="card-title">Inclusivo e para todos, esporte paralímpico transforma a vida de deficientes</h2>
                    <a class="btn btn-primary d-flex justify-content-center text-decoration-none text-white" href="https://www.imparcial.com.br/noticias/inclusivo-e-para-todos-esporte-paralimpico-transforma-a-vida-de-deficientes,45566">
                        Acesse o site para ver a reportagem
                    </a>
                </div>

                <div class="card">
                    <img src="~/Imagens/parre_mundiallyon-washington-alves-cpb-mpix.jpg" class="card-img-top imgcard" />
                    <h2 class="card-title">Esporte adaptado pode ajudar no resgate da autoestima de pessoas com deficiência</h2>
                    <a class="btn btn-primary d-flex justify-content-center text-decoration-none text-white" href="https://feac.org.br/esporte-adaptado-pode-ajudar-no-resgate-da-autoestima-de-pessoas-com-deficiencia/">
                        Acesse o site para ver a reportagem
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

