@{
    ViewData["Title"] = "Home Page";
}
<section class="corpo">
    <div class="container">
        <div class="corpo-home">
            <div>
                <h1 class="titulo-viva">Viva a Diferença!</h1>
                <p class="texto-viva">
                    Através do nosso site você fica informado sobre tudo relacionado a prática esportiva para Pessoas Com Deficiência, até mesmo se desejar competir, você pode checar nossa pagina com locais avaliados e informações disponiveis para o seu tipo de deficiência, pode marcar visita nesses mesmos locais, ou, se quiser praticar em outros locais que não estejam na lista, pode simplesmente verificar informações voltadas para o esporte que deseja conhecer.
                </p>
                <h4 class="botao-s btn">Cadastre-se!</h4>
            </div>
            <img class="imagem-front" src="~/Imagens/Ativo 7.svg" />
        </div>
    </div>
</section>

