@{
    ViewData["Title"] = "Locais";
}
<br />
<br />
<br />
<br />
<h1 class="titulo-1 text-center">Locais</h1>
<br />
<p class="text-center" style="font-family:Montserrat;color: #009BE0;margin-bottom:30px;">Aqui estão listados alguns locais onde você pode praticar atividade física<br /> e ser assistido da forma que precisa e merece!</p>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Imagens/Imagemcarrossel1.jpg" class="d-block w-100" alt="img1">
        </div>
        <div class="carousel-item">
            <img src="~/Imagens/Imagemcarrossel2.jpg" class="d-block w-100" alt="img2">
        </div>
        <div class="carousel-item">
            <img src="~/Imagens/QUADRAS_COTP.jpg" class="d-block w-100" alt="img3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div>
    <div class="row">
        <div class="card">
            <img src="~/Imagens/QUADRAS_COTP.jpg" class="card-img-top imgcard" />
            <h2 class="card-title">AACD | ASSOCIAÇÃO DE ASSISTÊNCIA À CRIANÇA DEFICIÊNTE</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal1">
                Mais Informações
            </button>
        </div>

        <div class="card">
            <img src="~/Imagens/Imagemcarrossel1.jpg" class="card-img-top imgcard" />
            <h2 class="card-title">ADD/SP | ASSOCIAÇÃO DESPORTIVA PARA DEFICIENTES</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal2">
                Mais Informações
            </button>
        </div>

        <div class="card">
            <img src="~/Imagens/Imagemcarrossel1.jpg" class="card-img-top imgcard" />
            <h2 class="card-title">JR-SP | ASSOCIAÇÃO PARADESPORTIVA JR SP</h2>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal3">
                Mais Informações
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img-top" src="~/Imagens/QUADRAS_COTP.jpg" />
                <h2 class="modal-title">AACD | ASSOCIAÇÃO DE ASSISTÊNCIA À CRIANÇA DEFICIÊNTE</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img-top" src="~/Imagens/QUADRAS_COTP.jpg" />
                <h2 class="modal-title">ADD/SP | ASSOCIAÇÃO DESPORTIVA PARA DEFICIENTES</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img-top" src="~/Imagens/QUADRAS_COTP.jpg" />
                <h2 class="modal-title">JR-SP | ASSOCIAÇÃO PARADESPORTIVA JR SP</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>