@{
    ViewData["Title"] = "Locais";
}
<br />
<br />
<br />
<br />
<h1 class="titulo-1 text-center">Locais</h1>
<br />
<p class="text-center" style="font-family:Montserrat;color: #009BE0;margin-bottom:30px;">Aqui estão listados alguns locais onde você pode praticar atividade física<br /> e ser assistido da forma que precisa e merece!</p>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Imagens/imagem1modal-card.jpg" class="d-block w-100" alt="img1">
        </div>
        <div class="carousel-item">
            <img src="~/Imagens/imagem2modal-card.jpg" class="d-block w-100" alt="img2">
        </div>
        <div class="carousel-item">
            <img src="~/Imagens/imagem3modal-card.jpg" class="d-block w-100" alt="img3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="row">
    <div class="card" style="width: 20rem;">
        <img src="~/Imagens/imagem1modal-card.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">CESEC | CENTRO DE EMANCIPAÇÃO SOCIAL E ESPORTIVA DE CEGOS</h5>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal1">
                Mais Informações
            </button>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img src="~/Imagens/imagem2modal-card.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">ADD/SP | ASSOCIAÇÃO DESPORTIVA PARA DEFICIENTES</h5>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal2">
                Mais Informações
            </button>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <img src="~/Imagens/imagem3modal-card.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">JR-SP | ASSOCIAÇÃO PARADESPORTIVA JR SP</h5>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal3">
                Mais Informações
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img-top" src="~/Imagens/imagem1modal-card.jpg" />
                <h2 class="modal-title">CESEC | CENTRO DE EMANCIPAÇÃO SOCIAL E ESPORTIVA DE CEGOS</h2>
                <p class=modal-text>
                    O Centro de Emancipação Social e Esportiva de Cegos – CESEC é uma entidade que desde 1986 tem a missão de lutar pela integração ou inclusão das pessoas cegas e ou com deficiência visual.<br /><br />
                    A principal estratégia da Instituição para alcançar sua missão, é a demonstração para a sociedade em geral, todo potencial que estes possuem para o exercício das diferentes atividades da vida, como é o caso do esporte, cultura, trabalho, educação, e demais atividades sociais.<br /><br />

                    O CESEC tem por finalidade oferecer a prática esportiva à pessoas cegas e ou com deficiência visual parcial, independente de sua Idade, cor, credo ou classe social.<br /><br />

                    Durante toda a sua existência, o CESEC tem conseguido sucesso no esporte de alto rendimento, conquistando a oportunidade de seus atletas integrarem as diferentes Seleções Brasileiras nas várias modalidades paralímpicas que tem representado o nosso país em competições Sulamericanas, Parapanamericanas, Mundiais, e Jogos Paralímpicos.<br /><br />
                    Queremos oferecer este ideal no cotidiano, promovendo a prática esportiva para todos os deficientes visuais. A condição que é tomada de forma preconceituosa e que pode restringir a vida dessas pessoas passa a ser vista a partir das possibilidades, através do esporte. Por acreditarmos que o esporte é transformador, possibilitando experiências intensas na prática, queremos promover essas vivências.<br />
                    <h2 class="modal-title">Endereços</h2>
                    <h4>
                        CESEC | CENTRO DE EMANCIPAÇÃO SOCIAL E ESPORTIVA DE CEGOS<br />
                        Rua Padre Adelino, nº 2074, Conjunto 121<br />
                        Quarta Parada - São Paulo/SP - CEP: 03303-000

                    </h4>

                    <h2 class="modal-title">Equipe</h2>
                    <h4>
                        Presidente: David Farias Costa<br />

                        Vice presidente: Maria José Ferreira <br />

                        Secretário: Luiz Carlos dos Santos<br />

                        Diretora, Adm financeira: Angela Bertoli Jorge<br />

                        Diretor de esportes: Ivan Wallan Tertuliano<br />

                        Assessora especial da presidência: Lilian Tuzi<br />
                    </h4>

                    <h2 class="modal-title">Práticas</h2>
                    <h4>
                        Judô
                    </h4>
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="https://www.cesec.org.br/inicio">Site Oficial</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img-top" src="~/Imagens/imagem2modal-card.jpg" />
                <h2 class="modal-title">ADD/SP | ASSOCIAÇÃO DESPORTIVA PARA DEFICIENTES</h2>
                <p class="modal-text">
                    A Associação Desportiva para Deficientes é uma instituição sem fins lucrativos fundada em 1996, pelo professor de educação física Steven Dubner e pela administradora Eliane Miada. Em 2001, a ADD recebeu do Ministério da Justiça o título de Organização da Sociedade Civil de Interesse Público (OSCIP).

                    Por meio de doações, parcerias e patrocínio de diversas empresas, que contribuem tanto de forma institucional quanto por leis de incentivo, a ADD desenvolve as modalidades competitivas de basquete em cadeira de rodas, natação, bocha, vôlei sentado e atletismo.

                    Desde 2001, a instituição também atua de forma pioneira na educação esportiva para crianças com deficiência, numa iniciativa que, em 2010, culminou na criação da ADD Escola de Esporte Adaptado.

                    <h2 class="modal-title">Endereços</h2>
                    <h4>
                        ADD ESCOLA DE ESPORTE ADAPTADO(Sede Administrativa)<br />
                        R. das Pitombeiras, 296 - Via Parque Jabaquara, São Paulo - SP, 04321-160<br /><br />
                        Tel: 11 5011-6133<br /><br />
                        Email: contato@add.org.br<br /><br />
                        Críticas, denúncias e reclamações: ouvidoria@add.org.br<br /><br />
                        Horário de funcionamento da Sede Adm.<br />
                        Seg à sexta: 8:30 às 12h e das 13 ás 17:30<br />
                        Sábado: das 08:00 às 12 hs
                    </h4>

                    <h2 class="modal-title">Programa ADD</h2>
                    PROGRAMAS DE ENSINO, PESQUISA E TREINAMENTO - WORKSHOP E CURSOS<br />
                    A ADD visando difundir o conhecimento teórico e prático adquirido por seus colaboradores profissionais oferece a oportunidade para que prefeituras, universidades e demais entidades interessadas possam conhecer o trabalho desenvolvido na ADD.<br />

                    A ADD contribui com a disseminação de conhecimentos, reciclagem e oportunidades para que profissionais das áreas afins adquiram vivência e mais conhecimento a respeitos das atividades físicas e esportivas para pessoas com deficiência.<br />

                    Objetivo Específico do Programa: Realizar palestras, seminários e Workshop para entidades interessadas na prática esportiva para pessoas com deficiência.<br />

                    Objetivos Gerais do Programa:<br />
                    • Difundir o trabalho da ADD;<br />
                    • Reciclar, disseminar e possibilitar o desenvolvimento de técnicas de ensino e aprendizagem motora voltados para pessoas com deficiência;<br />
                    • Cumprir a missão da ADD.<br />

                    Estrutura e funcionamento: Os interessados deverão entrar em contato para receber para firmar a parceria na realização do evento.
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="https://www.add.org.br/index.asp">Site Oficial</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img class="card-img-top" src="~/Imagens\imagem3modal-card.jpg" />
                <h2 class="modal-title">JR-SP | ASSOCIAÇÃO PARADESPORTIVA JR SP</h2>
                <p class="modal-text">
                    A instituição surgiu da necessidade do Deficiente Intelectual (DI) de praticar esporte. Após alguns anos, o projeto cresceu tornando-se a Associação Paradesportiva JR São Paulo, que hoje conta com aproximadamente 90 alunos e é voltada ao desenvolvimento de atletas com DI.
                    Com auxílio do Clube Escola Ibirapuera, Centro Olímpico, Conjunto Desportivo Constâncio Vaz Guimarães e do Corinthians, que fornecem estrutura e materiais para que as aulas aconteçam, a Associação promove treinos e organiza campeonatos de quatro modalidades: Ginástica Artística, Ginástica Ritmica, Natação e Futsal.
                    A equipe JR é formada por nove profissionais, sendo cinco professores, um auxiliar, uma nutricionista, uma psicóloga e uma fisioterapeuta.

                    <h2 class="modal-title">Endereços</h2>
                    <h4>
                        Centro Olímpico de Treinamento e Pesquisa Marechal Mário Ary Pires<br />
                        Av. Ibirapuera, 1315 - Vila Clementino, São Paulo - SP, 04029-000<br /><br />

                        Clube Escola do Ibirapuera,<br />
                        Rua Pedro de Toledo, 1651 - Vila Clementino, São Paulo - SP, 04039-034<br /><br />

                        Parque São Jorge – Corinthians<br />
                        R. São Jorge - Parque São Jorge, São Paulo - SP, 03178-200
                    </h4>

                    <h2 class="modal-title">Equipe</h2>
                    <h4>
                        Roberto Di Cunto - Presidente<br />
                        Cleiton Monteiro - Treinador de Futsal e Futebol<br />
                        Jordão Dantas - Treinador de Futsal e Futebol<br />
                        Cristiane Mayer de Sousa - Professora de ginástica e natação<br />
                        Cristina Heitzmann - Diretora Técnica e Professora<br />
                        Claudia Albuquerque - Psicóloga<br />
                        Fernanda Heitzmann - Nutricionista<br />
                        Ilka Medeiros - Fisioterapeuta<br />
                    </h4>

                    <h2 class="modal-title">Práticas</h2>
                    <h4>
                        Ginástica Artística<br />
                        Natação<br />
                        Futsal<br />
                        Ginástica Ritmica<br />
                    </h4>
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="https://www.jrparadesporto.com.br">Site Oficial</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>