@{
    ViewData["Title"] = "Sobre Nós";
}
<br>
<br />
<br>

<div class="container">
    <h1 class="titulo-1 d-flex justify-content-center" style="font-size:70px;">Sobre nós</h1>
    <div>
        <div class="text-left">
            <article class="text-left">
                <br><h2 class="titulo-1">Pra quem?</h2><br>
                <h2>O site é direcionado para Pessoas Com Deficiência interessadas na prática de atividades físicas e esportivas.</h2><br>
                <h2>O que é uma deficiência?</h2>
                <p class="ConteudoSobreNos">
                    A deficiência é uma limitação física, intelectual, visual ou auditiva que dificulta a realização de atividades, em
                    comparação com pessoas sem deficiência.
                    Pode ser de nascimento (quando a pessoa já nasce com a deficiência) ou adquirida (quando um acontecimento causa a
                    deficiência, como uma doença ou acidente).
                    Conforme o Instituto Brasileiro de Geografia e Estatística (IBGE), quase 24% da população brasileira é PcD.
                </p><br />
                <h2>O que define uma pessoa com deficiência (PcD)?</h2>
                <p>
                    É uma PcD quem tem uma dessas limitações (física, intelectual, visual ou auditiva). Se uma pessoa tiver mais de um tipo
                    de deficiência, chamamos de deficiência múltipla.
                </p>
            </article>
        </div>

    </div>

    <div class="row-2">
        <div class="text-right">
            <article class="text-right">
                <br><br><br><h2 class="titulo-1">Por Quê?</h2><br>
                <p class="ConteudoSobreNos">
                    Se exercitar com regularidade gera diversos benefícios para a saúde física e mental e, além disso, melhora a
                    qualidade de vida das pessoas.<br />
                    Os exercícios físicos podem trazer ainda mais benefícios para pessoas com deficiência.<br> Praticar esportes melhora a
                    condição cardiovascular, aprimora a força, a agilidade, a coordenação motora e o
                    equilíbrio.Todas essas vantagens contribuem para o melhor conhecimento sobre o corpo e maior facilidade para a realização de
                    atividades diárias.<br>
                    Além dos aspectos físicos, o esporte também cria oportunidades de socialização com outras pessoas e ajuda a dar mais
                    independência para a pessoa com deficiência. A prática de exercícios contribui também com o psicológico, aumentando a autoconfiança e autoestima, o otimismo e a
                    percepção de capacidade.
                </p>
            </article>
        </div>
    </div>
    <div class="row-2">
        <div class="text-left">
            <article class="text-left">
                <br><br><br><h2 class="titulo-1">Como?</h2><br>
                <p class="ConteudoSobreNos">
                    - Consultando o nosso site você pode acessar informações sobre tudo relacionado a prática esportiva para Pessoas Com Deficiência, desde atividades desportivas até mesmo atividades voltadas para competições.<br><br />
                    - Na página "locais avaliados" você se informa a respeito de contatos, horários, descrição dos ambientes e das atividades ofertadas e também pode marcar uma visita agendada.<br><br />                    - Se quiser praticar exercícios físicos em outros locais que não estejam na lista, você pode simplesmente verificar informações voltadas para o esporte que deseja conhecer.<br><br />
                    - É possível sugerir novos locais no mapa e também dispor do nosso maior diferencial, que é um esquema de "avaliação pelos usuários".  Nele você pode avaliar as instalações e ambientes livres, pode postar o seu depoimento a respeito da acessibilidade, hospitalidade e estrutura do local visitado, além de acrescentar vídeos e fotos para servirem de referência para o público PcD se orientar sobre a prática esportiva nesses locais de acordo com as suas necessidades.
                </p>
            </article>
        </div>
    </div>
</div>
<div class="titulo">
    <br><br><h1 class="titulo-1">Nosso Time:</h1><br>
    <h2 class="titulo-1" style="color:#028C22 !important;">#Squad12</h2>
</div>
<br>
<br>
<div class="row-3">
    <div class="card">
        <h2 class="name" style="color:#028C22 !important;">Carlos Gomes</h2>
        <img class="image" src="~/Imagens/Carlos.jpeg" alt="foto" />
        <p class="pcard">
            Graduando em Designer Gráfico, Programador Full-Stack jr. Ingressando no mercado Tech.
            HTML | CSS | Bootstrap | React | JavaScript | Java | C# | ASP.Net | SQL
        </p>

        <a class="btn btn-success" href="https://www.linkedin.com/in/carlos-alberto-m-m-gomes-868204124/">Linkedin</a><br>
        <a class="btn btn-success" href="https://github.com/Apolock33">Github</a>
    </div>
    <div class="card">
        <h2 class="name" style="color:#028C22 !important;">Erica Graciano</h2>
        <img class="image" src="~/Imagens/Erica.jpeg" alt="foto" />
        <p class="pcard">
            Formanda em Turismo, estudante de programação. Interessada em focar no mercado de Agências de Viagem Online.
            HTML | CSS | Bootstrap | React | JavaScript | Java | C# | ASP.Net | SQL
        </p>
        <a class="btn btn-success" href="https://br.linkedin.com/in/erica-graciano-moreira-14216111a">Linkedin</a><br>
        <a class="btn btn-success" href="https://github.com/EricaG12">Github</a>
    </div>
    <div class="card">
        <h2 class="name" style="color:#028C22 !important;">Emanuel Penha</h2>
        <img class="image" src="~/Imagens/Emanuel.jpeg" alt="foto" />
        <p class="pcard">
            A cada dia mais apaixonado e evoluindo na busca de conhecimentos, busco a primeira oportunidade na área de Tecnologia.
            HTML | CSS | Bootstrap | React | JavaScript | Java | C# | ASP.Net | SQL
        </p>
        <a class="btn btn-success" href="https://www.linkedin.com/in/emanuel-penha-3273971ab/">Linkedin</a><br>
        <a class="btn btn-success" href="https://github.com/Emanuel-Cleiton">Github</a>
    </div>
</div>
<div class="row-3">
    <div class="card">
        <h2 class="name" style="color:#028C22 !important;">Patrick Baldez</h2>
        <img class="image" src="~/Imagens/Patrick.jpeg" alt="foto" />
        <p class="pcard">
            Estudante de programação Full Stack e corredor de rua amador.
            HTML | CSS | Bootstrap | React | JavaScript | Java | C# | ASP.Net | SQL
        </p>
        <a class="btn btn-success" href="https://www.linkedin.com/in/patrick-baldez-298064213/">Linkedin</a><br>
        <a class="btn btn-success" href="https://github.com/BaldezPatrick">Github</a>
    </div>
    <div class="card">
        <h2 class="name" style="color:#028C22 !important;">Tatiana Maroto</h2>
        <img class="image" src="~/Imagens/Tatiana.jpeg" alt="foto" />
        <p class="pcard">
            Estudante de Programação na Recode Pro 2021, futura desenvolvedora full stack em busca de uma vaga no mercado TECH
            HTML | CSS | Bootstrap | React | JavaScript | Java | C# | ASP.Net | SQL
        </p>
        <a class="btn btn-success" href="https://www.linkedin.com/in/tatiana-santos-129085222/">Linkedin</a><br>
        <a class="btn btn-success" href="https://github.com/Tatiana3090">Github</a>
    </div>
    <div class="card">
        <h2 class="name" style="color:#028C22 !important;">Victor Persike</h2>
        <img class="image" src="~/Imagens/Vitor.jpeg" alt="foto" />
        <p class="pcard">
            Desenvolvimento Wordpress, e desenvolvimento Front-End com Back-End em PHP, para o site www.gamboeducacional.com.br/conhecimento.
            Desenvolvimento em Angular com ênfase em Ionic, e Back-End em Nodejs.
        </p>
        <a class="btn btn-success" href="https://www.linkedin.com/in/victor-persike-78515b71/">Linkedin</a><br>
        <a class="btn btn-success" href="https://github.com/vcpersike">Github</a>
    </div>
